---
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout title="Welcome to NL4Opt.">
	<nav class="navbar">
		<a href="/">Home</a>
		<a href="/results">Results</a>
		<a href="/rules">Rules</a>
		<a href="/faq">FAQ</a>
		<a href="/participate">Participate</a>
		<a href="/blog">Blog</a>
		<a href="/gettingstarted">Getting Started</a>
		<a href="/tutorial">Tutorial</a>
		<a href="/howtosubmit">How to Submit</a>
	</nav>
	<main>
		<h1>Welcome to <span class="text-gradient">NL4Opt</span></h1>
		<div class="instructions">
			<slot />
		</div>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		background-color: white;
		border-bottom: 1px solid rgba(var(--accent), 25%);
	}
	.navbar a {
		color: rgb(var(--accent));
		text-decoration: none;
		margin-right: 1rem;
		font-size: 1.2rem;
	}
</style>